.pm-title {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}
.pm-subtitle {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding: 20px 20px;
    text-align: center;
    text-transform: uppercase;
}
.pm-date {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.pm-date:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.pm-author {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.pm-author:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.pm-date span, .pm-author span {
    background: #fdfdfd;
    padding: 0 10px;
    text-transform: uppercase;
}
.pm-line {
    border-top: 1px solid #111;
    display: block;
    margin-top: 60px;
    padding-top: 50px;
    position: relative;
}
.pm-find-out-more {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}
.pm-find-out-more:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.pm-find-out-more a {
    -moz-border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    background: #111;
    border-radius: 50%;
    border: 10px solid #fdfdfd;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 80px;
    line-height: 63px;
    margin: -40px 0 0 -40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
}
.pm-find-out-more a:hover {
    background: #990000;
    text-decoration: none;
}
.pm-manage {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}
.pm-manage:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.pm-manage a:first-of-type {
    -moz-border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    background: #111;
    border-radius: 50%;
    border: 10px solid #fdfdfd;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 80px;
    line-height: 63px;
    margin: -40px 0 0 -40px;
    position: absolute;
    bottom: 0;
    left: 40%;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
}
.pm-manage a {
    -moz-border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    background: #111;
    border-radius: 50%;
    border: 10px solid #fdfdfd;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 80px;
    line-height: 63px;
    margin: -40px 0 0 -40px;
    position: absolute;
    bottom: 0;
    left: 60%;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
}
.pm-manage a:hover {
    background: #990000;
    text-decoration: none;
}
.pm-manage-create {
    margin-top:10px;
    -moz-border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    background: #111;
    border-radius: 50%;
    border: 10px solid #fdfdfd;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 80px;
    line-height: 63px;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
}
.pm-manage-create:hover {
    background: #990000;
    text-decoration: none;
}
.pm-typography {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 48px;
}
